    /* START GLOBAL  */
body {font-family: 'Cairo', sans-serif;height: 3000px;}
.add-e3lan-background{background: #f1f1f1;}
img{max-width: 100%;}
:root{
    --mainColor  :#f7875c;
    --mainColor2 :#ca4759;
}
a{text-decoration: none;color: inherit;}
a:hover{color:inherit;}
.card {
    border-radius: 15px;
    background-color: #f5f5f5;
    border: 1px solid #f2f2f2;
    margin: 20px 0;
    box-shadow: 3px 3px 0px 0px rgba(231,231,231,0.52);
    -webkit-box-shadow: 3px 3px 0px 0px rgba(231,231,231,0.52);
    -moz-box-shadow: 3px 3px 0px 0px rgba(231,231,231,0.52);
    position: relative;
}
.card a {
    position: absolute;
    top: 0%;
    bottom: 0;
    left: 0;
    right: 0;
}
.card .card-text i {color: var(--mainColor2);}
.card .card-text {font-size: 18px;font-weight: 800;color: #4f4f4f;}
    /* END GLOBAL  */
    /* START HEADER  */
header {
    background-image: url(../imgs/bg@2x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;    
    position: relative;
}
header .logo {line-height:100vh;margin: auto;}
header img {width: 350px;margin: auto;}
header .options {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #fff;
    margin-top: 10px;
    display: flex;
    margin: 20px;
}
header .options .login {font-size: 27px;}
header .options .login i {position: absolute;top: 10px;right: 0px;}
header .options .login a {color:#fff ; }
header .options .add-ad {margin: 13px 35px;}
header .options .add-ad a {
    background-color: #fff;
    border-radius: 10px;
    text-decoration: none;
    color: var(--mainColor2);
    padding: 0 20px;
    font-size: 13px;
    font-weight: bold;
}
    /* END HEADER  */
    /* START .SEARC-FIELD */
.search-field {
    margin: -70px auto ;
    width: 85%;
    background-image: 
    linear-gradient(to right top, #ca4759, #d75659, #e3665a, #ed765b, #f7875c);
    position: relative; 
    padding: 15px;
    box-shadow: 7px 9px 31px -5px rgba(136,136,136,0.54);
    -webkit-box-shadow: 7px 9px 31px -5px rgba(136,136,136,0.54);
    -moz-box-shadow: 7px 9px 31px -5px rgba(136,136,136,0.54);
}
.search-field form{margin-top: 13px;}
.search-field .form-group{
    align-items: center;
    background: #FFF;
    border: none;
    outline: none;
    margin-bottom: 15px;
    border-radius: 100px;
    padding: 10px;
}
.search-field .form-group i {
    position: absolute;
    top: 10px;
    left: 30px;
    color: var(--mainColor2);
    font-size: 35px;
}
.search-field .form-group i{
    position: absolute;
    top:10px;
    left: 30px;
    color: var(--mainColor2);
    font-size: 35px;
}
.form-control:focus{box-shadow: none;background: transparent;border-color: inherit;}
.search-field select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 10px;
    text-overflow: '';
    margin: auto;
    position: relative;
    cursor: pointer;
    z-index: 5;
    background: transparent;
    border: none;
    border-radius: 100px;
    color: #ccc;
}
option{color: #000;}
option:first-child{color: #ccc;}
.search-field button {
    background-color: #fff;
    border: none;
    outline: none;
    color: #c7c7c7;
    padding: 8px;
}
.search-field .form-control {width: 100%;font-weight: bold;border: none;}
.search-field .form-control::placeholder{color: #c7c7c7;opacity: 1;}
    /* END SEARCH FIELD  */
    /* START SEARCH ICONS  */
.search-icons {
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.search-icons .cars {
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search-icons .row{display: flex;justify-content: space-around;align-items: center;}
.search-icons i {
    background-size: cover;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    margin: 15px;
    padding: 30px;
}
.search-icons .fa-paw ,
.search-icons .fa-mobile{ background: linear-gradient(180deg,#ca4759 15%, #4d4445 90%);}
.search-icons .fa-car ,
.search-icons .fa-desktop {background: linear-gradient(180deg,#ca4759 15%, #f7875c 90%);}
.search-icons .fa-tshirt{background: linear-gradient(180deg,#0dc5d9 15%, #1d929b 90%);}
.search-icons .fa-building{background: linear-gradient(180deg,#e47f58 15%, #4d4445 90%);}
.search-icons .btn-secondary {
    color: #dedede;
    background-color: #444444;
    border-color: #6c757d;
    border-radius: 30px;
    font-size: 12px;
    text-align: center;
    width: 100%;
}     
.search-icons .btn-secondary p {width: 90%;display: inline-block;margin: 0;}
    /* END SEARCH ICONS  */
    /* START RECENTLY ADDED  */
.recently-added {margin-top: 50px;}
.recently-added h3 {
    margin: 15px;
    border-right: 6px solid var(--mainColor);
    padding: 10px 15px 10px 0;
    color: var(--mainColor2);
    font-weight: bold;
}
.recently-added a {
    color:#fff;
    text-decoration: none;
    border-radius: 100px;
    padding: 10px 100px;
    font-size: 20px;
    margin: 20px;
    background: linear-gradient(180deg,#ca4759 15%, #f7875c 90%);
}
    /* END RECENTLY ADDED  */
    /* START SUBSCRIBE  */
.subscribe {
    margin-top: 40px;
    background-color: var(--mainColor);
}
.subscribe h3 {padding: 40px;color: #fff;font-weight: bold;}
.subscribe .mail {
    background-color: #fff;
    border-radius: 100px ;
    padding:20px 60px 20px 350px;
    outline: none;
    border: 1px solid #fff;
    margin-bottom: 20px;
    color: #aeaeae;
    font-size: 22px;
    font-weight: bold;
}
.subscribe .mail::placeholder{color: #aeaeae;text-align: right;}
.subscribe button {
    border: none;
    outline: none;
    margin: 20px auto 40px ;
    padding: 15px 100px;
    border-radius: 100px;
    background-color: #fff;
    color: var(--mainColor);
    font-size: 22px;
    font-weight: bold;
}
    /* END SUBSCRIBE  */
    /* START FOOTER  */
footer {background-color: var(--mainColor2);}
footer .footer-1 {margin: 20px 0;}
footer .footer-1 img {height: 80px;margin: 35px 0 15px;}
footer .footer-1 p {font-size: 12px;color: #f8f8f8;font-weight: bold;line-height: 2;}
footer .footer-2 {
    margin: 55px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer .footer-2 a {
    margin: 15px 0;
    text-decoration: none;
    color: #f8f8f8;
    transition: all 0.2s ease-in-out ;
}
footer .footer-2 a:hover{color: var(--mainColor);}
footer .footer-3 {margin: 55px 0 20px;display: flex; justify-content: space-around;}
footer .footer-3 i {font-size: 35px ;color: #f8f8f8;transition: all 0.2s ease-in-out ;}
footer .footer-3 i:hover {color: var(--mainColor);}
footer .footer-4 {
    margin: 55px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer .footer-4 h4 {color: #f8f8f8;font-weight: bold;}
footer .footer-4 a {
    background-color: #f8f8f8;
    color: var(--mainColor2);
    margin: 15px auto;
    text-decoration: none;
    padding: 10px;
    border-radius: 100px;
    font-size: 18px;
}
footer .footer-4 a i {color: var(--mainColor);font-size: 18px;}
    /* END FOOTER  */
    /* START ADD E3LAN PAGE  */
.edit-header {height: 50vh;}
.edit-header .logo {line-height: 50vh;}
.add-e3lan h3 {
    border-right: 6px solid var(--mainColor);
    padding: 10px 15px 10px 0;
    color: var(--mainColor2);
    font-weight: bold;
    margin: 30px;
}
.add-e3lan .e3lan {
    background-color: #ececec;
    border: 1px solid #e3e3e3;
    margin: 30px 30px 30px 0; 
    border-radius: 20px;
    box-shadow: 3px 3px 5px 0px rgba(222,222,222,0.75);
    -webkit-box-shadow: 3px 3px 5px 0px rgba(222,222,222,0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(222,222,222,0.75);
}
.add-e3lan h4 {
    color: var(--mainColor);
    font-size: 22px ; 
    font-weight: bold;
    padding: 15px;
    margin: 10px;
    text-align: center;
}
.add-e3lan .form-group{
    align-items: center;
    background: #FFF;
    border: none;
    outline: none;
    margin:10px 15px 10px 0;
    border-radius: 50px;
    padding: 20px;
    position: relative;
}
.form-control{border: none; padding: 0;}
.form-control:focus{box-shadow: none;background: transparent;border-color: inherit;}
.add-e3lan select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0px;
    text-overflow: '';
    margin: auto;
    cursor: pointer;
    z-index: 5;
    background: transparent;
    border: none;
    width: 100%;
    border-radius: 100px;
    color: var(--mainColor);
    position: relative;
    font-weight: bold;
    padding-right: 5px;
}
.add-e3lan select:focus{border: none; outline: none;}
.add-e3lan .form-group i{
    position: absolute;
    left: 30px;
    top: 5px;
    color: var(--mainColor);
    font-size: 50px;
}
option{color: var(--mainColor);font-weight: bold;}
option:first-child{color:var(--mainColor);font-weight: bold;}
.add-e3lan h5 {
    padding: 10px 15px 10px 0;
    color: var(--mainColor);
    font-weight: bold;
    margin: 30px 0;
}
.add-e3lan  textarea {
    border-radius: 20px ;
    border: none;
    outline: none;
    width:90%;
    resize: none;
    margin:10px 15px 10px 0 ;
    padding: 20px;
}
.add-e3lan button {
    background-image: url(../imgs/Rectangle\ 51@2x.png);
    background-size: contain;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    padding: 10px 100px;
    font-size: 20px;
    margin: 20px 0;
    border: none;
    outline: none;
    margin: 40px 0 80px;
}
.add-e3lan .car-options {margin: 30px 0;text-align: center;}
.add-e3lan .car-options .car-options-item {margin: 15px;padding: 15px;display: inline-block;}
.add-e3lan .car-options label {font-size: 20px;color: var(--mainColor);}
.icheckbox_square-orange{margin-left: 15px;}
.add-e3lan .e3lan img {margin-top: 30px;}
    /* END ADD E3LAN PAGE   */
    /* START CARS PAGE  */
.search-field .form-group-2{
    align-items: center;
    background: #FFF;
    border: none;
    outline: none;
    margin: 15px auto;
    border-radius: 100px;
}
.search-field .form-group-2 i {
    position: absolute;
    top: 15px;
    left: 30px;
    color: var(--mainColor2);
    font-size: 35px;
}
.special-add {margin-top: 110px;background-color: #f1f1f1}
.special-add h3 {
    margin: 25px ;
    border-right: 6px solid var(--mainColor);
    padding: 15px 15px 10px 0;
    color: var(--mainColor2);
    font-weight: bold;
}
.special-add .container-fluid {padding: 0 35px;}
.special-add .pagination{margin-top: 50px; padding-bottom: 50px; margin-bottom: 0;} 
.special-add .page-item.active .page-link {
    background-color: var(--mainColor2);
    border-color: var(--mainColor2);
}
.page-link {
    color: #FFF;
    background-color:var(--mainColor2);
    border: 1px solid var(--mainColor2);
    margin-left: 15px;
    border-radius: 5px;
}
    /* END CARS PAGE  */
    /* START LOGIN PAGE  */
.login-page .login-box {
    /* display: table; */
    box-shadow: 6px 8px 5px 0px rgba(204,204,204,0.75);
    -webkit-box-shadow: 6px 8px 5px 0px rgba(204,204,204,0.75);
    -moz-box-shadow: 6px 8px 5px 0px rgba(204,204,204,0.75);
    margin:100px auto;
}
.login-page .left-side {
    background: rgb(202,71,89);
    background: linear-gradient(180deg, rgba(202,71,89,1) 31%, rgba(247,154,92,1) 75%);
    line-height: 65vh;
}
.login-page .left-side img {width: 55%;}
.login-page .right-side {
    background-color: #fff;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;  
}
.login-page .right-side .form-group {position: relative;}
.login-page .right-side .form-group .form-control {
    background-color: var(--mainColor2);
    color: #fff;
    padding: 30px 60px 30px 30px ;
    border-radius: 30px;
    margin: 20px auto;
}
.login-page .right-side .form-group .form-control::placeholder{
    color: #eaadb7;
     font-size: 22px;
     font-weight: bold;
}
.login-page .right-side i {position: absolute;top:14px;right: 15px;color: #fff;font-size: 28px;}
.login-page .right-side button {
    background-color: var(--mainColor2);
    border: none;
    outline: none;
    border-radius: 30px;
    padding: 7px 65px;
    color: #fff;
    font-size: 20px;
    box-shadow: 0px 3px 5px 6px rgba(204,204,204,0.14);
    -webkit-box-shadow: 0px 3px 5px 6px rgba(204,204,204,0.14);
    -moz-box-shadow: 0px 3px 5px 6px rgba(204,204,204,0.14);
}
.login-page .right-side a {color: var(--mainColor2);text-decoration: none;}
.login-page .right-side .d-flex {justify-content: space-between; margin-bottom: 60px;}
    /* END LOGIN PAGE  */
    /* START CARS-DETAILS PAGE  */
.cars-details{margin: 30px auto 60px ;}
.cars-details .cars-details-right-side .upper-right-side h4 {font-weight: bold;}
.cars-details .cars-details-right-side .upper-right-side img {width: 90%;}
.cars-details .cars-details-right-side .upper-right-side p:first-of-type {
    display: inline-block;
    border-left: 1px solid var(--mainColor);
    margin-left: 8px;
    padding-left: 8px;
    color: var(--mainColor);
    font-weight: bold;
}
.cars-details .cars-details-right-side .upper-right-side span {
    color: var(--mainColor);
    font-weight: bold;
}
.cars-details .cars-details-right-side .favourite {
    color:var(--mainColor2);
    font-size: 18px;
}
.cars-details .cars-details-right-side .favourite i {padding: 10px 0px 10px 50px;}
.cars-details .cars-details-right-side .report {color: var(--mainColor); font-size: 18px;}
.cars-details .cars-details-right-side .report i {padding: 10px 50px 10px 0;}
.cars-details-right-side .favourite-details p {
    background-color: #fff;
    color: black;
    font-weight: bold;
    border-radius: 50px;
    padding: 10px 20px;
    margin: 30px auto;
    width: 100%;
}
.cars-details-right-side .report-details p {
    background-color: #fff;
    color:black;
    font-weight: bold;
    border-radius: 50px;
    padding: 10px 20px;
    margin: 30px auto;
    width: 100%;
}
.cars-details-right-side .extras {
    background-color: #fff;
    color: black;
    font-weight: bold;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 30px auto;
    width: 100%;
}
.cars-details-right-side .description { margin: 40px auto;}
.cars-details-right-side .description h4 {
    color: var(--mainColor2);
    font-weight: bold;
    padding-right: 25px;
}
.cars-details-right-side .description p {
    background-color: #fff;
    padding: 25px;
    margin: 25px 0;
    text-align: center;
    font-weight: bold;
    border-radius: 30px;
}
.cars-details-right-side .description textarea {
    resize: none;
    border:none;
    outline: none;
    padding: 30px ;
    width: 100%;
    border-radius: 15px;
    margin: 25px 0;
}
.cars-details-right-side .description textarea::placeholder{color:#d9d9d9}
.cars-details-right-side .send a{
    color: #fff;
    text-decoration: none;
    border-radius: 100px;
    padding: 10px 100px;
    font-size: 20px;
    margin: 20px;
    background: linear-gradient(180deg,#ca4759 15%, #f7875c 90%);
}
.cars-details .cars-details-left-side .a {
    background-color: #fff;
    background-color: #fff;
    color: var(--mainColor2);
    font-size: 45px;
    font-weight: bold;
    padding: 5px;
    border-radius: 30px;
    margin: 100px auto 50px;
}
.cars-details .cars-details-left-side .b{
    background-color: var(--mainColor2);
    padding: 5px;
    margin: 30px auto;
    border-radius: 50px;
}
.cars-details .cars-details-left-side .b a{
    color: #fff;
    font-size: 30px;
    text-decoration: none;
}
.cars-details .cars-details-left-side .c{
    background-color: var(--mainColor);
    border-radius: 50px;
    padding: 5px;
    margin: 30px auto 80px;
}
.cars-details .cars-details-left-side .c a{
    color: #fff;
    text-decoration: none;
    font-size: 30px;
}
.cars-details .cars-details-left-side .d{
    background-color: #fff;
     position: relative;
     border-radius: 10px;
     margin: 30px 0;
     padding: 5px ;
}
.cars-details .cars-details-left-side .d h3{ 
    display: inline-block;
    color: var(--mainColor2);
    font-weight: bold;
    margin-top: 15px;
    padding-right: 15px;
}
.cars-details .cars-details-left-side .d p {
    color: var(--mainColor2);
    font-size: 13px;
    font-weight: bold;
}
.cars-details .cars-details-left-side .d i {
    position: absolute;
    top: 35px;
    right: 15px;
    font-size: 35px;
}
.cars-details .cars-details-left-side .d a {
    text-decoration: none;
    color:#626262;
    font-size: 15px;
}
.cars-details .cars-details-left-side .e {
    background-color: #646464;
    color: #fff;
    border-radius: 15px;
} 
.cars-details .cars-details-left-side .e h5 {padding: 15px 0;}
.cars-details .cars-details-left-side .e ul {
    list-style: none;
    padding: 5px 40px 5px 5px;  
}
.cars-details .cars-details-left-side .e ul li {
    padding-left: 9px; 
    text-indent: -.7em;
    margin: 15px 0;
    position: relative;
    text-align: right;
}    
.cars-details .cars-details-left-side .e ul li::before {
    content: "";
    background-color: var(--mainColor);
    position: absolute;
    right: -30px;
    top: 9px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}








                                        /* START MEDIA  */
    /* MOBILE SCREEN  */
@media (max-width : 768px) {
    header img {width: 230px;}
    body{overflow-x: hidden;}
    .subscribe .mail {padding:20px 60px 20px 50px;}
    .subscribe h3 {padding: 25px;}
    .add-e3lan .form-group{padding: 8px;}
    .add-e3lan .form-group i{left: 20px;top: 0px;font-size: 40px;}
    .add-e3lan .car-options .car-options-item{margin: 5px; padding: 5px;}
    .cars-details .cars-details-right-side .favourite i {padding: 10px 50px 10px 0px;}
    .cars-details-right-side .favourite-details p {margin:0 0 1rem 0 ;}
    .cars-details-right-side .report-details p {margin: 0 0 1rem 0;}
}
@media (min-width : 992px ) {
    .search-field .form-group-2{margin: 35px 0 70px;}
    .search-field .form-group-2 i {top: 35px;left: 30px;}
    .login-page .right-side .form-group{margin: 50px;}
    

}
